.rodape {
  background-color: #8d0606;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
}

.language {
  margin-left: 30px;
  display: flex;
  gap: 13px;
}

.social {
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: 30px;
}

.social p {
  font-family: "Roboto", normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
